
.app {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.navbar {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  border: 1px black solid;
}

.feed {
  border: 1px black solid;
}

.post {
  border: 1px blue solid;
  height: 20px;
}

.footer {
  border: 1px black solid;
}


