
ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.navbar {
  border: 1px black solid;
}

.logo-container {
  width: 85px;
}

.logo-text {
  color: black;
}

.fa-earlybirds {
  color: blueviolet
}

.login {
  border: 1px black solid;
}

.feed {
  border: 1px black solid;
}

.post-container {
  border: 1px blue solid;
  width: 700px;
  margin: 10px 0px 10px 0px;
}

.post {

}

.vote-container {}

.submit {
  padding: 20px 0px 20px 0px;
}

#submit-textarea {
  resize: none;
}

.footer {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

/*
NAMING
-flex-flexdirection-alignitems-justifycontent
*/

.flex-row-center-between {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.flex-row-center-start {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
}

.flex-row-flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}