
ul {
  list-style-type: none;
}

.app {
  display: flex;
  flex-direction: column;
  border: 1px black solid;
}

.navbar {
  border: 1px black solid;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.login {
  border: 1px black solid;
}

.feed {
  border: 1px black solid;
}

.post {
  border: 1px blue solid;
}

.submit {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submit-form {

}

#submit-textarea {
  resize: none;
}

.submit-button-container {

}

#submit-button {

}

.footer {
  border: 1px black solid;
  display: flex;
  flex-direction: column;
}

.flex-row-flex-end {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.flex-column-center-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}