body {
  background-color: #fff;
}

#brand {
  border-bottom: 5px solid blue;
}

#img-overlay {
  padding-top: 0em;
  padding-bottom: 5em;
}

#card-title {
  color: #fff;
  font-size: 1.5em;
}

.feed-inner {
  padding-top: 80px
}
