body {
  background-color: #DAE0E6;
  color: #030303
}

.feed-inner {
  padding-top: 80px
}

.count {
  border: none;
  cursor: pointer;
}


.fa-angle-up:hover {
  color: red;
}

.fa-angle-down:hover {
  color: blue;
}

