a {
  color: inherit;
}

a:hover {
  color: orange;
  text-decoration: none;
}

body {
  background-color: #fff;
}

#brand {
  border-bottom: 5px solid blue;
}

.feed-inner {
  padding-top: 80px
}

#media-article {
  border-bottom: 1px solid lightgray;
}

#saved-articles {
  top: 80px
}

.delete-icon:hover {
  transform: scale(1.2);
}

.spinner {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 50px;
}
